.xoocontactMsg {
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
    background-color: #f1f1f1;
    color: #049cd9;
    border: 2px solid #049cd9;
}

/*========  Float ======== */
.floatleft {
    float: left;
    margin: 0;
    padding-left: 0;
    border: 0;
}

.floatright {
    float: right;
    margin: 0;
    padding-right: 0;
    border: 0;
}
